.editor-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/Capture.PNG');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: contain;
    background-size: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-main {
    width: 67%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #bedcfa;
    margin: 10px;
    border-radius: 5px;
    opacity: 0.95;
    position: relative;
    top: 4%;
}

#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}